quartus/project/c5_pin_model_dump.txt
quartus/project/db
quartus/project/incremental_db
quartus/project/output_files
quartus/project/*.qws

*.bak

.cache
transcript
modelsim.ini
dump.vcd
vsim.wlf
res
